#particles-js{
  background-color: #3A4DF9;
  background-image: url('../../assets/img/Banner4.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#particles-js canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.locs {
	display: none;
}